<div id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="icon-profile"></i>
			<%= link_to user_profiles_path do %>
        User Profile
      <% end %>

			<span class="divider">
				<i class="icon-angle-right"></i>
			</span>
		</li>
		<li class="active">Edit User Profile</li>
	</ul><!--.breadcrumb-->
</div>