<div class="row-fluid">
  <div class="span12">
    <%= link_to finished_final_project_path(final_project), :method => "put", :class => "btn btn-success btn-small", :confirm => "apakah anda yakin ?" do %>
      <i class="icon-ok"></i>
      Final Project Telah Selesai
    <% end %>
  </div>
</div><!-- row fluid end -->