<div class="span4">
  <div class="widget-box">
  	<div class="widget-header">
  		<h4>News</h4>

  		<span class="widget-toolbar">
  			<a href="#" data-action="collapse">
  				<i class="icon-chevron-up"></i>
  			</a>

  			<a href="#" data-action="close">
  				<i class="icon-remove"></i>
  			</a>
  		</span>
  	</div>

  	<div class="widget-body">
  		<div class="widget-main">
  			<div class="row-fluid">
  				<label for="id-date-picker-1">News</label>
  			</div>

  			<div class="control-group">
  				<div class="row-fluid input-append date">
  					<input class="span10 date-picker" id="id-date-picker-1" type="text" data-date-format="dd-mm-yyyy" />
  					<span class="add-on">
  						<i class="icon-calendar"></i>
  					</span>
  				</div>
  			</div>

  			<hr />
  			<div class="row-fluid">
  				<label for="id-date-range-picker-1">Date Range Picker</label>
  			</div>

  			<div class="control-group">
  				<div class="input-prepend">
  					<span class="add-on">
  						<i class="icon-calendar"></i>
  					</span>

  					<input class="span11" type="text" name="date-range-picker" id="id-date-range-picker-1" />
  				</div>
  			</div>

  			<hr />
  			<div class="row-fluid">
  				<label for="timepicker1">Time Picker</label>
  			</div>

  			<div class="control-group">
  				<div class="input-append bootstrap-timepicker">
  					<input id="timepicker1" type="text" class="input-small" />
  					<span class="add-on">
  						<i class="icon-time"></i>
  					</span>
  				</div>
  			</div>
  		</div>
  	</div>
  </div>
</div><!-- end span-->