<div class="span12">
  <div class="row-fluid">
    <%= render :partial => "dashboards/advisors/proposals_accepted" %>
    <%= render :partial => "dashboards/advisors/news" %>
  </div><!-- end row fluid -->
  <div class="row-fluid">
    <%= render :partial => "dashboards/advisors/student_progress" %>
    <%= render :partial => "dashboards/advisors/examiner" %>
  </div><!-- end row fluid -->
</div>