<div class="span6">
  <div class="widget-box">
  	<div class="widget-header">
  		<h4>News</h4>

  		<span class="widget-toolbar">
  			<a href="#" data-action="collapse">
  				<i class="icon-chevron-up"></i>
  			</a>

  			<a href="#" data-action="close">
  				<i class="icon-remove"></i>
  			</a>
  		</span>
  	</div>

  	<div class="widget-body">
  		<div class="widget-main news">
        <% @news.each do |f| %>
          <div class="row-fluid news_item">
            <h4><%= f.title %></h4>
            <h5><small>Dipost tanggal <%= f.created_at.strftime('%m %B %Y')%></small></h5>
            <div class="span12">
              <%= truncate_html(f.description, :length => 200, :omission => "... #{link_to 'read more', news_path(f)}") %>
            </div>
          </div>
          <hr>
        <% end %>
  		</div>
  	</div>
  </div>
</div><!-- end span-->