<div id="ace-settings-container">
	<div class="btn btn-app btn-mini btn-warning" id="ace-settings-btn">
		<i class="icon-cog"></i>
	</div>
	<div id="ace-settings-box">
		<div>
			<%= link_to edit_user_profile_path(current_user), :class => "btn btn-small btn-danger" do %>
        <i class="icon-pencil"></i>
        Edit Profile
      <% end %>
		</div>
	</div>
  <br><br>
</div><!--/#ace-settings-container-->