<li class="green" id="notification_tab">
	<a data-toggle="dropdown" class="dropdown-toggle" href="/notifications/<%= current_user.id %>" data-remote="true">
		<i class="icon-bell-alt icon-only"></i>
		<span class="badge badge-success" id="notification_number"></span>
	</a>
	<ul class="pull-right dropdown-navbar navbar-green dropdown-menu dropdown-caret dropdown-closer" id="notification_message">
	</ul>
</li>