<li class="light-blue user-profile">
	<a data-toggle="dropdown" href="#" class="user-menu dropdown-toggle">
		<%= image_tag current_user.avatar_url(:thumb).to_s, :class => "nav-user-photo" %>
		<span id="user_info">
			<small>Welcome,</small>
			<%= current_user.username.split(' ')[0]%>
		</span>

		<i class="icon-caret-down"></i>
	</a>

	<ul class="pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-closer" id="user_menu">
		<li>
			<a href="#">
				<i class="icon-cog"></i>
				Settings
			</a>
		</li>

		<li>
      <%= link_to user_profiles_path do %>
			  <i class="icon-user"></i> Profile
      <% end %>
		</li>

		<li class="divider"></li>

		<li>
      <%= link_to destroy_user_session_path, :method => "delete" do %>
        <i class="icon-off"></i> Logout
      <% end %>
		</li>
	</ul>
</li>