<div id="main-content" class="clearfix">
	<%= render :partial => "topics/breadcrumbs/new" %>
	<div id="page-content" class="clearfix">
		<div class="page-header position-relative">
			<h1>
				Create New Topic
			</h1>
		</div><!--/.page-header-->
    <!-- bootstrap flash -->
		<%= bootstrap_flash %>
    <!-- end bootstrap flash -->
    <%= render 'topics/partials/form' %>
	</div><!--/#page-content-->
</div><!--/#main-content-->