<div id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="icon-profile"></i>
			<%= link_to dashboards_path do %>
        Dashboard
      <% end %>
			<span class="divider">
				<i class="icon-angle-right"></i>
			</span>
		</li>
		<li>
			<i class="icon-profile"></i>
			<%= link_to current_user.is_student? ? todo_final_projects_path : "/todo_final_projects/issue/#{@final_project.user.slug}" do %>
      Todo Final Project
      <% end %>
			<span class="divider">
				<i class="icon-angle-right"></i>
			</span>
		</li>
		<li class="active">History</li>
	</ul><!--.breadcrumb-->

	<div id="nav-search">
		<form class="form-search">
			<span class="input-icon">
				<input type="text" placeholder="Search ..." class="input-small search-query" id="nav-search-input" autocomplete="off" />
				<i class="icon-search" id="nav-search-icon"></i>
			</span>
		</form>
	</div><!--#nav-search-->
</div>