<div id="main-content" class="clearfix">
	<%= render :partial => "shared/breadcrumbs" %>
	<div id="page-content" class="clearfix">
		<div class="page-header position-relative">
			<h1>
				Jadwal Dosen
			</h1>
		</div><!--/.page-header-->
		<div class="row-fluid">
      <!-- bootstrap flash -->
			<%= bootstrap_flash %>
      <!-- end bootstrap flash -->
			<!--PAGE CONTENT BEGINS HERE-->
      <% if current_user.is_admin? %>
        <%= render :partial => "users/partials/import_advisors_schedule" %>
      <% end %>
      <%= render :partial => "users/partials/advisors_schedule_table" %>
			<!--PAGE CONTENT ENDS HERE-->
		</div><!--/row-->
	</div><!--/#page-content-->
</div><!--/#main-content-->
