<div id="breadcrumbs">
	<ul class="breadcrumb">
    <%= render_breadcrumbs :tag => :li, :separator => ' <span class="divider"><i class="icon-angle-right"></i></span> ' %>
	</ul><!--.breadcrumb-->

	<div id="nav-search">
		<form class="form-search">
			<span class="input-icon">
				<input type="text" placeholder="Search ..." class="input-small search-query" id="nav-search-input" autocomplete="off" />
				<i class="icon-search" id="nav-search-icon"></i>
			</span>
		</form>
	</div><!--#nav-search-->
</div>