<div id="ace-settings-container">
	<div class="btn btn-app btn-mini btn-warning" id="ace-settings-btn">
		<i class="icon-cog"></i>
	</div>
	<div id="ace-settings-box">
		<div>
      <%= link_to edit_final_project_path(final_project), :class => "btn btn-small btn-info" do  %>
        <i class="icon-edit"></i>
        Edit Final Project
      <% end %>
		</div>
	</div>
  <br><br>
</div><!--/#ace-settings-container-->