<div id="main-content" class="clearfix">
	<%= render :partial => "todo_proposals/breadcrumbs/new_todo", :locals => {:proposal => @proposal} %>
	<div id="page-content" class="clearfix">
		<div class="page-header position-relative">
			<h1>
				Create New To do Proposal
			</h1>
		</div><!--/.page-header-->
    <!-- bootstrap flash -->
		<%= bootstrap_flash %>
    <!-- end bootstrap flash -->
    <%= render 'todo_proposals/issue/form' %>
	</div><!--/#page-content-->
</div><!--/#main-content-->