<div id="active_admin_content" class="without_sidebar">
  <div id="main_content_wrapper">
    <div id="main_content">
      <form>
        <fieldset class="inputs">
          <div id="active_admin_content" class="without_sidebar">
            <div id="main_content_wrapper">
              <div id="main_content">
                <table>
                  <thead>
                    <tr>
                      <th>Mahasiswa</th>
                      <th>Pembimbing 1</th>
                      <th>Pembimbing 2</th>
                      <th>Penguji 1</th>
                      <th>Penguji 2</th>
                      <th>Penguji 3</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @examiner_schedule.each do |f| %>
                      <tr>
                        <td><%= f['mahasiswa'] %></td>
                        <% f['pembimbing'].each do |k| %>
                          <td><%= k %></td>
                        <% end %>
                        <% f['penguji'].each do |k| %>
                          <td><%= k %></td>
                        <% end %>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset class="actions">
          <ol>
            <li class="cancel">
              <%= link_to "print PDF", schedule_final_project_admin_examiners_path(schedule: @examiner_schedule, format: "pdf") %>
            </li>
          </ol>
        </fieldset>
      </form>
    </div>
  </div>
</div>