<div id="main-content" class="clearfix">
	<%= render :partial => "dashboards/breadcrumbs/dashboard" %>
	<div id="page-content" class="clearfix">
		<div class="page-header position-relative">
			<h1>
				Dashboard
				<small>
					<i class="icon-double-angle-right"></i>
					overview &amp; stats
				</small>
			</h1>
		</div><!--/.page-header-->

		<div class="row-fluid">
			<!--PAGE CONTENT BEGINS HERE-->
      <!-- bootstrap flash -->
			<%= bootstrap_flash %>
      <!-- end bootstrap flash -->
      <div class="row-fluid">
        <% if current_user.user_role_id == 1 %>
          <%= render :partial => "dashboards/students/dashboards" %>
        <% elsif current_user.user_role_id == 2 %>
          <%= render :partial => "dashboards/advisors/dashboards" %>
        <% end %>
      </div>
			<!--PAGE CONTENT ENDS HERE-->
		</div><!--/row-->
	</div><!--/#page-content-->
</div><!--/#main-content-->