<div id="ace-settings-container">
	<div class="btn btn-app btn-mini btn-warning" id="ace-settings-btn">
		<i class="icon-cog"></i>
	</div>
	<div id="ace-settings-box">
		<div>
			<%= link_to new_todo_proposal_path, :class => "btn btn-small btn-success" do %>
        <i class="icon-pencil"></i>
        Create To Dos
      <% end %>
		</div>
	</div>
  <br><br>
</div><!--/#ace-settings-container-->