<div class="itemdiv dialogdiv" id="comment_<%= comment_status.id%>" >
	<%= render :partial => 'todo_proposals/partials/item_todo_comment_content', :locals => {:comment_status => comment_status} %>
</div>