<div id="main-content" class="clearfix">
	<%= render :partial => "todo_final_projects/breadcrumbs/edit" %>
	<div id="page-content" class="clearfix">
		<div class="page-header position-relative">
			<h1>
				Edit To do Final Projects
			</h1>
		</div><!--/.page-header-->
    <!-- bootstrap flash -->
		<%= bootstrap_flash %>
    <!-- end bootstrap flash -->
    <%= render 'todo_final_projects/partials/form'  %>
	</div><!--/#page-content-->
</div><!--/#main-content-->