// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import "jquery.ui.autocomplete";
@import "datetimepicker";
@import "morris";
// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   body.active_admin {
//      .status_tag { background: #6090DB; }
//   }
//
// Notice that Active Admin CSS rules are nested within a
// 'body.active_admin' selector to prevent conflicts with
// other pages in the app. It is best to wrap your changes in a 
// namespace so they are properly recognized. You have options
// if you e.g. want different styles for different namespaces:
//
// .active_admin       applies to any Active Admin namespace
// .admin_namespace    applies to the admin namespace (eg: /admin)
// .other_namespace    applies to a custom namespace named other (eg: /other)

.cke_chrome {
  width: 76% !important;
  overflow: hidden;
}

body.active_admin {
  .cke_toolbar {
    .cke_button {
      padding: 5px;
    }
  }
}

span.status_tag.in_progress{
  background: #0d89bc;
}

#graph {
  width: 100%;
  height: 250px;
}

.in_panel_wrap{
  display: table;
  width: 100%;
  clear: both;
  .in_panel{
    width: 47%;
    float: left;
    &:first-child{
      margin-right: 20px;
    };
  }
  
  #paging_body{
    margin-left: 20px;
  }
  
  .pagination {
    margin: 20px 0;
    float: none;
  }

  .pagination ul {
    display: inline-block;
    *display: inline;
    margin-bottom: 0;
    margin-left: 0;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    *zoom: 1;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
       -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  }

  .pagination ul > li {
    display: inline;
  }

  .pagination ul > li > a,
  .pagination ul > li > span {
    float: left;
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-left-width: 0;
  }

  .pagination ul > li > a:hover,
  .pagination ul > li > a:focus,
  .pagination ul > .active > a,
  .pagination ul > .active > span {
    background-color: #f5f5f5;
  }

  .pagination ul > .active > a,
  .pagination ul > .active > span {
    color: #999999;
    cursor: default;
  }

  .pagination ul > .disabled > span,
  .pagination ul > .disabled > a,
  .pagination ul > .disabled > a:hover,
  .pagination ul > .disabled > a:focus {
    color: #999999;
    cursor: default;
    background-color: transparent;
  }

  .pagination ul > li:first-child > a,
  .pagination ul > li:first-child > span {
    border-left-width: 1px;
    -webkit-border-bottom-left-radius: 4px;
            border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
            border-top-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-topleft: 4px;
  }

  .pagination ul > li:last-child > a,
  .pagination ul > li:last-child > span {
    -webkit-border-top-right-radius: 4px;
            border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
            border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
  }

  .pagination-centered {
    text-align: center;
  }

  .pagination-right {
    text-align: right;
  }

  .pagination-large ul > li > a,
  .pagination-large ul > li > span {
    padding: 11px 19px;
    font-size: 17.5px;
  }

  .pagination-large ul > li:first-child > a,
  .pagination-large ul > li:first-child > span {
    -webkit-border-bottom-left-radius: 6px;
            border-bottom-left-radius: 6px;
    -webkit-border-top-left-radius: 6px;
            border-top-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-topleft: 6px;
  }

  .pagination-large ul > li:last-child > a,
  .pagination-large ul > li:last-child > span {
    -webkit-border-top-right-radius: 6px;
            border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
            border-bottom-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomright: 6px;
  }

  .pagination-mini ul > li:first-child > a,
  .pagination-small ul > li:first-child > a,
  .pagination-mini ul > li:first-child > span,
  .pagination-small ul > li:first-child > span {
    -webkit-border-bottom-left-radius: 3px;
            border-bottom-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
            border-top-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-topleft: 3px;
  }

  .pagination-mini ul > li:last-child > a,
  .pagination-small ul > li:last-child > a,
  .pagination-mini ul > li:last-child > span,
  .pagination-small ul > li:last-child > span {
    -webkit-border-top-right-radius: 3px;
            border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
            border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
  }

  .pagination-small ul > li > a,
  .pagination-small ul > li > span {
    padding: 2px 10px;
    font-size: 11.9px;
  }

  .pagination-mini ul > li > a,
  .pagination-mini ul > li > span {
    padding: 0 6px;
    font-size: 10.5px;
  }
  
}

.itemdiv{
  display: table;
  width: 100%;
  margin: 5px 0;
  .user{
    width: 5%;
    float: left;
  }
  
  .body{
    width: 80%;
    float: left;
  }
}

.action_items a {
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
  display: inline-block;
  font-weight: bold;
  font-size: 1.0em;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 12px;
  margin-right: 3px;
  padding: 7px 16px 6px;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  background: white;
  background: -webkit-linear-gradient(-90deg, white, #e7e7e7);
  background: -moz-linear-gradient(-90deg, white, #e7e7e7);
  background: linear, -90deg, white, #e7e7e7;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFE7E7E7');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFE7E7E7');
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(255, 255, 255, 0.8) inset;
  border: solid 1px #c7c7c7;
  border-color: #c7c7c7;
  border-top-color: lightgrey;
  border-right-color: #c7c7c7;
  border-bottom-color: #c2c2c2;
  border-left-color: #c7c7c7;
  text-shadow: white 0 1px 0;
  color: #5e6469;
  padding: 12px 17px 10px;
  margin: 0px;
}