a:hover{
  text-decoration: none; 
}

.controls.description{
  color: #2679b5;
}

.profile_picture_wrap{
  text-align: center;
  
  .profile_picture_big{
    width: 152px;
    height: 152px;
  }
}

#ace-settings-box{
  width: auto;
  &.open{
    padding: 0px 10px 10px 10px;
  }
}

.ace-file-input label span{
  padding-left: 30px;
  float: left;
}

abbr[title=required]{
  color: red;
}

.data_tables{
  tbody{
    tr.unread{
      td{
        background: #bdecfe;
      }
    }
  }
}

.dl-horizontal.dt_align_left{
  dt{
    text-align: left;
    width: auto;
  }
  
  dd{
    margin-left: 50px;
  }
}

.fields{
  margin-bottom: 10px;
}

.ace-file-input{
  span.help-inline{
    margin-top: 30px;
    margin-bottom: 10px;
  }
}

#notification_message{
  li{
    img{
      vertical-align: top;
    }
  }
}

.form-horizontal.label-left{
  .control-label{
    text-align: left;
  }
}

.item_topic{
  .item_header{
    h4{
      &.active{
        color: #87b87f;
      }
      &:hover{
        color: #51a351;
      }
    }
    h6{
      color: #8089a0;
      margin: 3px 0px;
    }
  }
  
  .item_footer{
    p{
      color: #8089a0;
    }
  }
}

#tag_init_show{
  display: none;
}

.infobox-data-number a{
  color: #9abc32;
  
  &:hover{
    color: #87af0c;
  };
}

.commentdiv.open{
  .name{
    a{
      color: #87b87f;
    }
  }
  .text{
    i{
      font-size: 18px;
    }
    a{
      font-size: 16px;
    }
  }
}

.commentdiv.close_issue{
  .name{
    a{
      color: #d15b47;
    }
  }
  .text{
    i{
      font-size: 18px;
    }
    a{
      font-size: 16px;
    }
  }
}

.news{
  hr{
    margin: 3px 0px;
  }
  .news_item{
    h4{
      margin: 10px 0px 0px 0px;
    }
    h5{
      margin: 0px;
    }
    .span12{
      margin-left: 0px;
    }
  }
}

#news_dashboard{
	list-style: none;
	padding: 0px;
	margin: 0px;
	li{
		font-size: 13px;
		margin-bottom: 5px;
		&:hover{
			font-size: 14px;
		};
	}
}

input.disabled{
  color: black;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

a.icon-only.icon-pencil{
  color: white;
}