<div class="widget-box">
	<div class="widget-header">
		<h4>
			<i class="icon-list"></i>
			Proposal Data
		</h4>
	</div>
	<div class="widget-body">
		<div class="widget-main">
			<div class="row-fluid">
			</div>
			<hr />
		</div>
	</div>
</div>