<div class="comments">
  <div class="itemdiv commentdiv">
    <div class="user">
      <%= image_tag @todo_proposal.user.avatar.thumb.url %>
    </div>
    <div class="body">
      <div class="name">
        <a href="#"><%= @todo_proposal.user.username %></a>
      </div>
			<div class="time">
				<i class="icon-time"></i>
				<span class="timeago blue" title="<%= @todo_proposal.created_at.strftime('%Y-%m-%dT%H:%M:%IZ')%>"></span>
			</div>
			<div class="text">
        <%= raw @todo_proposal.message %>
			</div>
    </div>
  </div>
</div>